@charset "utf-8";
/* CSS Document */

body, p, td, th {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ======================= Skip link ====================== */
.skip-link {
	background: #BF1722;
	color: white;
	left: 0;
	padding: 8px;
	position: absolute;
	top: -40px;
	z-index: 100;
}
.skip-link:focus {
	top: 0;
}

/* ====================== Navigation ====================== */
nav {
  background-color: #252831;
  text-align: center;
  width: 100%;
}
.nav-primary {
	height: 80px;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.nav-breadcrumb {
	background-color: #eee;
	margin: 0;
	text-align: left;
	width: 100%;
}
#breadcrumb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 15px 10px;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
    padding: 8px;
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
	padding: 10px;
	text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  /* line-height: ; */
	margin: 0;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
.filter-options select:focus {
  outline: 3px solid orange;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
	list-style-type: none;
  margin: 15px;
	min-height: 380px;
  padding: 0 0 15px 0;
  text-align: left;
	width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  margin: auto;
  width: 100%;
}
#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
	padding: 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  font-size: 11pt;
  margin-bottom: 0;
	padding: 0 10px;
}
#restaurants-list li a {
  background-color: orange;
	color: #fff;
  display: inline-block;
  font-size: 11pt;
  margin: 15px 10px 5px 10px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus {
  outline: 3px solid #3397DB;
}
/* ====================== Restaurant Details ====================== */

/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}*/
#restaurant-container {
	display: flex;
	flex-wrap: wrap;
}
#restaurant-name,
#reviews-container h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
	margin: 0;
	padding: 30px 10px;
  text-transform: uppercase;
}
#restaurant-name {
	width: 100%;
}
#restaurant-img {
	height: 100%;
	width: 100%;
}
#restaurant-details {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
	padding: 10px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}
#reviews-list {
	border-top: 1px solid #d9d9d9;
}
#restaurant-hours {
	margin: 10px;
}
#restaurant-hours td {
  color: #666;
}
#reviews-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
	border-radius: 20px 0 20px 0;
  list-style-type: none;
  margin: 10px;
  width: 100%;
}
#reviews-list li div {
	background-color: #000;
	border-radius: 20px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 15px;
}
.reviewName {
	color: #fff;
	font-size: 12pt;
	width: 50%;
}
.reviewDate {
	color: #aaa;
	text-align: right;
	width: 50%;
}
.reviewRating {
	background-color: orange;
	border-radius: 5px 5px 5px 5px;
	color: white;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 15px 15px 0 15px;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 75px;
}
.reviewComment {
	margin: 0;
	padding: 15px 15px 25px 15px;
}


/* ====================== Media Queries ====================== */

@media screen and (min-width: 690px) {
	#restaurants-list li, #reviews-list li {
		width: 43%;
	}
	#restaurant-img, #restaurant-details {
		width: 50%;
	}
	#restaurant-cuisine {
		margin: 0;
	}
	#restaurant-address {
		text-align: center;
	}
	#restaurant-hours {
		margin: 0 auto;
		padding: 10px;
	}
}

@media screen and (min-width: 1024px) {
	#restaurants-list {
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
	}
	#restaurants-list li {
		width: 29%;
	}
	#reviews-list li {
		margin: 10px;
		width: 45%;
	}
	#restaurant-container, #reviews-container {
		margin-left: auto;
		margin-right: auto;
		width: 1024px;
	}
}
